body {
    background-color: lightgray;
    word-wrap: break-word;
}

/*
.container {
    max-width: 900px ! important;
}
*/

.image {
    max-width: 100%;
    height: auto;
    text-align: center;
}

.image img {
    height: auto;
    max-width: 100%;
    object-fit: scale-down;
}

header {
    background-color: #1f2d54;
}

.nav-link {
    color: white ! important;
}

.selector {
    background-color: #1f2d54;
}

.articleTitle {
    background-color: #1f2d54;
    color: white;
    padding-bottom: 20px;
}

.articleSelector {
    color: white ! important;
    border-bottom: white ! important;
    padding-bottom: 10px;
}

.MuiSelect-icon {
    color: white ! important;
}

.MuiInput-underline::before {
    border-bottom-color: #e8462b ! important;
}
